<div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="card rounded shadow p-3">
        <a href="/" class="button-link bg-success"><i class="fas fa-home"></i></a>
        <form id="place-form" class="d-flex flex-column justify-content-center">
            <h2 class="sensor-title">Add Sensor</h2>
            <div class="form-group">
                <input type="text" class="form-control" name="name" required placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="code" required placeholder="Code">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="img" placeholder="Link image">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="secret" required placeholder="Secret key">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>